<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if result_ok %}
<script>
    alert({{result_ok}}!!!)
</script>
{% endif %}

<h1>Додати захисника</h1>
<form action="add-defender/" method="post">
    {% csrf_token %}
    {{ form_for_defender.as_p }}
    <input type="submit" value="Submit"/>
</form>
<hr>

<h1>Додати нагороду</h1>
<form action="add-award/" method="post">
    {% csrf_token %}
    {{ form_for_award.as_p }}
    <input type="submit" value="Submit"/>
</form>
<hr>

<h1>Контактна інформація</h1>

<!--{% if errors %}-->
<!--{{errors}}-->
<!--{% endif %}-->
<form action="/lesson-5/" method="post">
    {% csrf_token %}
    {{ form_contact.as_p }}
    <input type="submit" value="Submit"/>
</form>
<hr>

</body>
</html>